/* src/Chatbot.css */

.chatbot-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 160px);
  }
  
  .chatbot-messages {
    flex: 1;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    /* justify-content: flex-end; */
  }
  
  .chatbot-message {
    padding: 10px;
    margin: 6px 0;
    border-radius: 12px;
    max-width: 75%;
  }
  
  .user-message {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
  }
  
  .agent-message {
    background-color: #fff;
    border: 1px solid #ddd;
    align-self: flex-start;
    margin-right: auto;
    text-align: left;
  }
  
  .chatbot-input-area {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
  }
  
  .chatbot-input-area input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .chatbot-input-area button {
    margin-left: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

  /* Loader Message Start */

  .skeleton-stacked-loader {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 10px;
  }

  .skeleton-stacked-loader .skeleton-bar {
      position: relative;
      width: 100%;
      background-color: transparent;
      overflow: hidden;
      border-radius: 4px;
      margin-bottom: 10px;
  }

  .skeleton-stacked-loader .bar1 {
      height: 25px;
      margin-bottom: 40px;
  }

  .skeleton-stacked-loader .bar2,
  .skeleton-stacked-loader .bar3,
  .skeleton-stacked-loader .bar4,
  .skeleton-stacked-loader .bar5,
  .skeleton-stacked-loader .bar6,
  .skeleton-stacked-loader .bar7 {
      height: 10px;
  }

  .skeleton-stacked-loader .skeleton-bar::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background-color: #cccccc;
      border-radius: 4px;
      animation: slide-right 1s forwards;
  }

  .skeleton-stacked-loader .bar1::before { animation-delay: 0s; }
  .skeleton-stacked-loader .bar2::before { animation-delay: 1s; }
  .skeleton-stacked-loader .bar3::before { animation-delay: 2s; }
  .skeleton-stacked-loader .bar4::before { animation-delay: 3s; }
  .skeleton-stacked-loader .bar5::before { animation-delay: 4s; }
  .skeleton-stacked-loader .bar6::before { animation-delay: 5s; }
  .skeleton-stacked-loader .bar7::before { animation-delay: 6s; }

  @keyframes slide-right {
      0% {
          width: 0%;
      }
      100% {
          width: 100%;
      }
  }
  /* Loader Message End */

  /* Error Message Start */

  .error-msg-wrp {
    background-color: #e726260d;
    padding: 14px;
    font-size: 13px;
    border-radius: 4px;
    max-width: 98%;
    border: 1px solid #c91313;
  }

  /* Error Message End */