/* src/Chatbot.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chatbot-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* justify-content: flex-end; */
}

.chatbot-message {
  padding: 10px;
  margin: 6px 0;
  border-radius: 12px;
  max-width: 75%;
}

.user-message {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
}

.agent-message {
  background-color: #fff;
  align-self: flex-start;
  margin-right: auto;
  text-align: left;
}

.chatbot-loading {
  font-size: 0.9em;
  color: #888;
  margin-top: 10px;
}

/* Chatbot Input Start */
.application-chatbot-input-container {
  position: relative;
  padding: 10px;
}

.application-chatbot-input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  font-size: 0.875rem;
  padding-right: 40px;
}

.application-chatbot-input:focus-visible{
  outline: none;
  border: 1px solid #dfdfdf;
  transition: all 0.3s ease-in-out;
}

.application-chatbot-send-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Chatbot Error Start */

.chatbot-error {
  background-color: #ffdddd;
  color: #900;
  padding: 10px;
  margin: 6px 0;
  border-left: 4px solid #f44336;
  border-radius: 6px;
}

/* User Message Start */

.application-chatbot-message {
  display: flex;
  align-items: start;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.application-chatbot-message-user {
  justify-content: flex-start;
  background-color: #f2f2f2;
  word-break: break-all;
}
.application-chatbot-avatar {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  background-color: #939393;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.application-chatbot-text{
  padding: 4px 5px;
  border-radius: 8px;
  color: #333;
}
.user-timestamp{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #939393;
  padding-left: 10px;
}

/* User Message End */
.skeleton-stacked-loader {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}

.skeleton-stacked-loader .skeleton-bar {
  position: relative;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 10px;
}

.skeleton-stacked-loader .bar1 {
  height: 25px;
  margin-bottom: 40px;
}

.skeleton-stacked-loader .bar2,
.skeleton-stacked-loader .bar3,
.skeleton-stacked-loader .bar4,
.skeleton-stacked-loader .bar5,
.skeleton-stacked-loader .bar6,
.skeleton-stacked-loader .bar7 {
  height: 10px;
}

.skeleton-stacked-loader .skeleton-bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #cccccc;
  border-radius: 4px;
  animation: slide-right 1s forwards;
}

.skeleton-stacked-loader .bar1::before { animation-delay: 0s; }
.skeleton-stacked-loader .bar2::before { animation-delay: 1s; }
.skeleton-stacked-loader .bar3::before { animation-delay: 2s; }
.skeleton-stacked-loader .bar4::before { animation-delay: 3s; }
.skeleton-stacked-loader .bar5::before { animation-delay: 4s; }
.skeleton-stacked-loader .bar6::before { animation-delay: 5s; }
.skeleton-stacked-loader .bar7::before { animation-delay: 6s; }

@keyframes slide-right {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}
/* Loader Message End */

/* Error Message Start */

.error-msg-wrp {
background-color: #e726260d;
padding: 14px;
font-size: 13px;
border-radius: 4px;
max-width: 98%;
border: 1px solid #c91313;
}